html {
  box-sizing: border-box;
  --dayColor: #222222;
  --nightColor: rgb(104, 104, 104);
  --nightBackground: rgb(31, 31, 27);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 1fr 400px 1fr;
  place-items: center center;
  width: 100%;
  height: 100vh;
  color: #222222;
  font-weight: bold;
}
.petDiv {
  border: 3px solid var(--dayColor);
  padding: 5%;
  /* max-width: ; */
  grid-column: auto;
  grid-row: 1;
}
#petPen{
  grid-column:2/3;
  grid-row:2/3;
  justify-self: left;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;

}
#startButton {
  grid-column: 2;
  grid-row: 1;
  place-items: center center;
  padding: 20px;
  border: 3px solid var(--dayColor);
  background-color: unset;
  color: #1b1b1b;
  font-weight: bold;
}

.barParent{
  grid-row: 1;
  grid-column: 2;
  border: var(--dayColor) 1px solid;
  width: 100%;
  height: 40px;
  margin:5px;
}
.barChild {
  background: var(--dayColor);
  width: 70%;
  height: 40px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--nightBackground);
    color: var(--nightColor);
  }
  .petDiv {
    border-color: var(--nightColor);
  }
  #startButton {
    border-color: var(--nightColor);
    color: var(--nightColor);
  }
  .barParent{
    border-color: var(--nightColor);
  }
  .barChild{
    background: var(--nightColor);
  }
}
