html {
    box-sizing: border-box;
    --contentColor: #222222;
    --backgroundColor: rgb(255, 255, 255);
    background-color: var(--backgroundColor);
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 1fr 400px 1fr;
    place-items: center center;
    width: 100%;
    height: 100vh;
    color: var(--contentColor);
    font-weight: bold;
}
.pet-div {
    border: var(--contentColor) 3px solid;
    padding: 5%;
    /* max-width: ; */
    grid-column: auto;
    grid-row: 1;
}
#pet-pen {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: left;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}
#start-button {
    grid-column: 2;
    grid-row: 1;
    place-items: center center;
    padding: 20px;
    border: 3px solid var(--contentColor);
    background-color: unset;
    color: #1b1b1b;
    font-weight: bold;
}

.trait-bar-outer {
    grid-row: 1;
    grid-column: 2;
    border: var(--contentColor) 1px solid;
    width: 100%;
    height: 40px;
    margin: 5px;
}
.trait-bar-inner {
    background: var(--contentColor);
    width: 70%;
    height: 40px;
}
.pet-heading {
    min-height: 2.5em;
}
